<!-- 
<div class= "nill p-2">
  <h1 class ="text-center">ABOUT CHACHULANI</h1>
  <div class="card mb-3 my-2"style="width: 100%" id="about-section" >
      <div class="row g-0">

        <div class="col-md-5 my-5 ">
          <div class="card-body">
            <p class="card-text mt-5 ">I am a passionate person who is always willing to learn, deliver
              task in time and easily adapt to the new environment.<br>
               I have no hasitation on working under pressure and
              also allow to be corrected when I am wrong.<br> 
              I went to TUT where I studied Information Technology
              specialising in Software development where I have learned one of the programming languages which is c++
              and my SQL for database.<br>
              From university I joined The digital Academy where I learned about other
              programming like Angular, ionic, bootstrap, Git NodeJS and postgressSql where I worked on a project
              using Angular and also Ionic.
             
              <a href="../../../assets/Chachulani_Maluleke_FP (3).pdf" class ="download-cv-btn"download>downlaod cv</a>
  
              
          </div>
        </div>
      </div>
    </div> 
  
</div> -->
<div class="container"  id="about-section">
  <div>
    <h1 class ="text-center my-3 abt">ABOUT</h1>
  </div>
  <div class ="row">
    <div class="col-md-4 d-flex justify-content-center">
    <div class="img-cont d-flex justify-content-center">
      <img src = "../../../assets/cut.png" class="img" > 
    </div> 
    </div>
    <div class="col-md-8 para d-flex align-items-center">
      <div class ="">
        <p>
          I am a passionate person who is always willing to learn, deliver
          task in time and easily adapt to the new environment.<br>
           I have no hasitation on working under pressure and
          also allow to be corrected when I am wrong.<br> 
          I went to TUT where I studied Information Technology
          specialising in Software development where I have learned one of the programming languages which is c++
          and my SQL for database.<br>
          From university I joined The digital Academy where I learned about other
          programming like Angular, ionic, bootstrap, Git NodeJS and postgressSql where I worked on a project
          using Angular and also Ionic.
        </p>

        <div class ="py-3">
          <a href="../../../assets/Chachulani_Maluleke_FP (3).pdf" class ="download-cv-btn "download>downlaod cv</a>
        </div>
      </div>
      
    </div>
  </div>
 
   

</div>

<!-- <img src = "../../../assets/cut.png"> -->

