<div class="container">
    <div class="row">
        <div class="col-8">
            <img
                src='https://media-exp1.licdn.com/dms/image/C4E03AQGEOLpkE5n4dQ/profile-displayphoto-shrink_800_800/0/1635015346460?e=1657756800&v=beta&t=55Jbihl6uHDyrlXWUsGQtrgNDvB-5YBckjzPEQEgEH0'>
            <h1>PROFILE SUMMARY</h1>
            <p>
                I am a passionate person who is always willing to learn, deliver
                task in time and easily adapt to the new environment. I have no hasitation on working under pressure and
                also allow to be corrected when I am wrong . I went to TUT where I studied Information Technology
                specialising in Software development where I have learned one of the programming languages which is c++
                and my SQL for database. From university I joined The digital Academy where I learned about other
                programming like Angular, ionic, bootstrap, Git NodeJS and postgressSql where I worked on a project
                using Angular and also Ionic.
            </p>
          
            <h2 class="d-flex justify-content-between">PROGRAMMING SKILLS</h2>
            <div class="skills">
                <div class="skills-bar">
                    <div class="bar">
                        <div class="info">
                            <span>HTML</span>
                        </div>
                        <div class="progress-line"><span class="html"></span></div>
                        <div class="bar">
                            <div class="info">
                                <span>CSS</span>
                            </div>
                            <div class="progress-line"><span class="css"></span></div>
                            <div class="bar">
                                <div class="info">
                                    <span>BOOTSTRAP</span>
                                </div>
                                <div class="progress-line"><span class="bootstrap"></span></div>
                                <div class="bar">
                                    <div class="info">
                                        <span>JAVASCRIPT</span>
                                    </div>
                                    <div class="progress-line">
                                        <span class="javascript"></span>
                                    </div>
                                
                                    <div class="bar">
                                        <div class="info">
                                            <span>ANGULAR</span>
                                        </div>
                                        
                                        <div class="progress-line"><span class="c"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>SOFT SKILLS</h2>
            <div class="col-4 post">
                <div class="b">
                    <p>Interpersonal Skiils</p>
                    <p>Problem-Solving Skiils</p>
                    <p>Computer Literacy</p>
                    <p>Presentation Skiils</p>
                    <p>Team Player</p>
                    <p>Communication Skiils</p>
                    <p>Time ManagementSkiils</p>
                </div>


            </div>
        </div>
        <div class="col-4 like">
            <h1>CONTACT</h1>

            <p>0632185391</p>
            <a href="#" class="link-primary">hlayani13@gmail.com</a>

            <h1>EDUCATION</h1>
            <div>
                <p>National Diploma in Information Technology(Software Development)</p>
                <p>Tswhane University Of Technology    2016-Present</p>


                <p>National Senior Certificate</p>
                <p>Risinga Secondary School   2009-2015</p>
               
             </div>
          
             <h1>WORK EXPERIENCE</h1>
             <div>
                 <p>SOFTWARE DEVELOPMENT INTERN
                 <p>The Digital Academy    2021-Present</p>
                 <p>Aplication Design and Development</p>
                 <p>NQ5 Level 5 Speccon</p>
                 <p>My main responsibility was working on Frontend using Angular framework, Nodejs, Bootstrap and CSS</p>
              </div>

        </div>



    </div>
</div>