<!-- <div class="null">
  <div class="container d-flex flex-column " id="skills-section">
    <h1 class ="my-5 mx-auto">WEB DEVELOPER SKILLS</h1>
    <div class="row">
      <div class="col-3">
        <h3><strong>BASIC</strong></h3>
        <br>
        <div class="col">
          <img src="/assets/html.png" style="width:50%; height:50%">
          <p class ="mx-auto">HTML</p>
          <p>Elements lebel pieces of content such as header body and footer</p>
        </div>
        <div class="col">
          <img src="/assets/css.png" style="width:50%; height:50%">
          <p>CSS</p>
          <p>The stylesheet language used to describe the presantation of a document written in HTML or XML</p>
        </div>
        <div class="col">
          <img src="/assets/javascript.png" style="width:50%; height:50%">
          <p>JAVASCRIPT</p>
          <p>Lightweight, interpreted, object-oriented language with first-calss functions is also best known as scripting language for web pages, but it is used in many non-browser enviromental as well.</p>
        </div>
      </div>
      <div class="col-3">
        <h3><strong>FRAMEWORK</strong></h3>
        <br>
        <div class="col ">
          <img src="/assets/bootstrap.png" style="width:50%; height:50%">
          <p class ="my-3">BOOTSTRAP</p><strong></strong>
          <p>This is a free and open source frontend developer framework for the creation of websites and webapps.</p>
        </div>
        <div class="col">
          <img src="/assets/angular.png" style="width:50%; height:50%">
          <p>ANGULAR</p>
          <p>This a plartform and framework for building single-page client applications using HTML and Typscript.</p>
        </div>


      </div>
      <div class="col-3">
        <h3><strong>DESIGN</strong></h3>
        <br>
        <div class="col mb-3">
          <img src="/assets/figma2.png" style="width:50%; height:50%">
          <p class ="mb-2">FIGMA</p>
          <p>A vector graphics editor and prototyping tool which is primarly web-based, with additional offfline features enabled by desktop applications for macOS and windows.</p>
        </div>
      </div>
      <div class="col-3">
        <h3><strong>DATABASE</strong></h3>
        <br>
        <div class="col">
          <img src="/assets/pgadmin.png" style="width:50%; height:50%">
          <p class ="mx-auto">POSTGRESQL</p>
          <p>A powerfull open source object-relationa database system that uses and extends the SQL language combined with many features that safely store and scale the most complicated data workloads.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<section class="skills-section py-5" id="skills-section">
  <h1 class ="heading"> WEB DEVELOPER SKILLS</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide d-flex justify-content-center p-5" data-bs-ride="carousel" data-interval="1000">
    <div class="carousel-inner d-flex mix">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/html.png" alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100"src="/assets/css.png" alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="/assets/javascript.png" alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/bootstrap.png" alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="/assets/figma2.png"  alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/pgadmin.png"  alt="...">
      </div>
    </div>
  </div>
</section>
