<!-- 

    <div class="filter" id="filter_back"></div>
    
    <div id=""></div>
   
    <div class="filter" id="filter_front"></div>
  
      
      <ul>
        <li><a routerLink ="/about">RESUME</a></li>
        <li><a routerLink="/skills">SKILLS</a></li>
        <li><a href="#">Contact</a></li>
      
      </ul>

<div class="container my-5">
    <h1 class="animation">
         ChACHULANI ANGELO MALULEKE 
         <p>JUNIOR SOFTWARE DEVELOPER </p>
        <img src ='https://media-exp1.licdn.com/dms/image/C4E03AQGEOLpkE5n4dQ/profile-displayphoto-shrink_800_800/0/1635015346460?e=1657756800&v=beta&t=55Jbihl6uHDyrlXWUsGQtrgNDvB-5YBckjzPEQEgEH0'>
    </h1
    >
   
  

</div>
 -->
<!-- 
 <div class="container">
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">col-4</div>
  </div>

 </div>

 <div class="context">
   <div>
    <ul>
      <li><a routerLink ="/about">RESUME</a></li>
      <li><a routerLink="/skills">SKILLS</a></li>
      <li><a href="#">Contact</a></li>
    
    </ul>
   </div>
   

  <h1>CHACHULANI ANGELO MALULEKE </h1> -->
<!-- <img src ='https://media-exp1.licdn.com/dms/image/C4E03AQGEOLpkE5n4dQ/profile-displayphoto-shrink_800_800/0/1635015346460?e=1657756800&v=beta&t=55Jbihl6uHDyrlXWUsGQtrgNDvB-5YBckjzPEQEgEH0'style ="rounded"> -->


<!-- </div>


<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div > -->

  <div class="container c my-5"style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');">
    <div class="card mb-3 mx-auto" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src='https://media-exp1.licdn.com/dms/image/C4E03AQGEOLpkE5n4dQ/profile-displayphoto-shrink_800_800/0/1635015346460?e=1657756800&v=beta&t=55Jbihl6uHDyrlXWUsGQtrgNDvB-5YBckjzPEQEgEH0'
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-5 mt-5">
          <div class="card-body">
            <p class="card-text mt-5">Hi! I'm Angelo
              <p class="card-text "> I am a Frontend Developer
                <p class="card-text">And
            <h5 class="card-title">This is my portfolio</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container a mx-auto ">
      <div class="row">
        <div class="col-8">
          <h1>About</h1>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
        </div>
        <div class="col-4">
          <h1>Work experience</h1>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
        </div>
      </div>
    </div>
    <div class="container b mx-auto ">
      <div class="row">
        <div class="col-8">
          <h1>Soft Skills</h1>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
        </div>
        <div class="col-4">
          <h1>Technical Skills</h1>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
          <p>SOFTWARE DEVELOPMENT INTERN</p>
        </div>
      </div>
    </div>
    <div class="card mb-3 mx-auto my-3" style="max-width: 540px;">
      <div class="row g-0">
        <!-- <div class="col-md-4">
          <img
            src='https://www.google.com/search?q=smile+image&rlz=1C5CHFA_enZA982ZA982&sxsrf=ALiCzsZ-cZa795chQe8X6m-KOnB1RugyNQ:1652254965899&tbm=isch&source=iu&ictx=1&vet=1&fir=Gsr34-6fgOKCVM%252CRzf4afqDp-3jMM%252C_%253B5mQ1g6CFWDAqUM%252CyM3omkYsig_tdM%252C_%253B-cy3PpnFeWivXM%252C5T2ylkNUz7zaQM%252C_%253Bk05_GleJ0_BpLM%252C9HXrCILqeIXkEM%252C_%253B-rw6wciLS2hCnM%252C5Ft6LRvi8dZ1QM%252C_%253BWysjPOBUNrOv8M%252C7q54NbhGHbwyYM%252C_%253BIJr3-hWytZt2SM%252Ci6E5_9OdBtVmFM%252C_%253B1_HS1c5SVUSfMM%252CRPufqxMjdHq9CM%252C_%253BAM65c65vsGGmsM%252CYml1HlLslpbSDM%252C_%253BUMq-Zn-aTB_cKM%252CeNR56VVkalI_CM%252C_%253BSAggnGTgQuBPlM%252CTyLxtIfzLEoULM%252C_%253BVjwlFG4zIJI8iM%252C7gyDtg27uyvaKM%252C_%253BnS-Wrau9iyYqGM%252C7gyDtg27uyvaKM%252C_%253Bg2MBbKTljUGqqM%252CcD8Z0oVSVqq7FM%252C_&usg=AI4_-kTq04PFvHNBy7v86uWyiJ7-O56WSQ&sa=X&ved=2ahUKEwilm8iy-db3AhXJQkEAHXRYB7AQ9QF6BAgIEAE#imgrc=VjwlFG4zIJI8iM'
            class="img-fluid rounded-start" alt="...">
        </div> -->
        <div class="col-md-5 mt-5">
          <div class="card-body">
            <p class="card-text mt-5">Hi! I'm Angelo
            <h5 class="card-title">This is my portfolio</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
