
 
  /* img 
{
 
  margin-left: 50rem;
  margin-top :10rem;
  margin-bottom: 20;
   rgb(217, 247, 247);

} */
.tit
{
  height:100vh;
  width: 100%;
  background-color:  #827397;
  /* background: url("../../../assets/frontdev..png") no-repeat center; */
}

.mat
{
  margin-left:20rem;
  margin-top: 10rem;
  /* margin-bottom: 20rem; */
}
.img-cont
{
  /* top:16%;
  left: 50%; */
   border-radius: 50%;
   max-width: 600px;
   width:100%;
   overflow:hidden;

}
.hel
{
  color:#ef476f;
}



/* .container
{
  background-color:#ECE3F0;
  margin-top: 10%;
  width: 100%;
 
  border-radius: 5px;
}

.tit
{
  background-image: url("../../../assets/frte.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   background-color: rgb(217, 247, 247);
}


.mat
{
 color:white;
 margin-bottom: -10%;
 margin-top: 60%;
 margin-left: 50%;

} */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  /* background: #000; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: rgb(209, 209, 209);
  font-size: 3em;
  position: absolute; 
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #E9D5DA;
}

.content h2:nth-child(2) {
  color: #E9D5DA;
  animation: animate 4s ease-in-out infinite;
}
.content h2:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 2px #E9D5DA;
}
.content h2:nth-child(4) {
  color: #E9D5DA;
  animation: animate 4s ease-in-out infinite;
}


@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}