
.meee
{
    border-radius: 20px ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:75px;
    position: absolute;
    margin-left: 3rem;
} 

.let
{
    margin-left: 10rem; 
}

.unl
{
    /* width:25%;
    margin-right: 50rem; */
    /* margin-left:8.5rem; */

}
.nul{
    background-color:rgb(209, 209, 209);
}
.null
{
    /* width: 90%; */
    /* margin-left: 8rem; */
    /* color: rgb(194, 194, 194); */
   
}
.mil
{
    background-color:rgb(209, 209, 209); 
      

}

.btn
{
    width: 19.5%;
    margin-left: 13px;
    background-color: #ef476f;
    
    
}

.textArea-cont{
    width: 100%;
    max-width: 535px;
}

textarea
{
    /* width: 77.5%; */
    height:18rem;
    /* margin-left: 8rem;
    margin-right: 17.5rem; */
    background-color: rgb(209, 209, 209);
}
.lbl
{
    margin-left: 0rem; 
}

.info
{
    /* margin-left: 50rem;
    margin-right: 20rem;
    margin-bottom: -20rem;
    position: absolute;
    margin-top: 6rem; */
    /* background-color:rgb(209, 209, 209); */
    /* max-width: 280px;
    width: 100%;
    margin-left: 5%;
    margin-right: 600px; */
    /* border: 1px solid red; */
    margin-right: -40rem;
    margin-top: -10rem; 
}
.contacts
{
    background-color:#bfc6cc; 
}
.container
{
    margin-right: -10%;
}
.cont
{
    text-align: center;
    font-size: 60px;
    color: #112B3C;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.contacts{
    position: relative;
    height: 100vh;
    width: 100%;
  } 
/* 
  .heading{
    text-align: center;
    font-size: 60px;
    color: #112B3C;
    text-transform: capitalize;
    font-weight: 300;
} */